<mat-toolbar>
  <span>OP stackoverflow viewer</span>
</mat-toolbar>
<div class="row center-sm center-xs center-md center-lg">
  <mat-form-field class="col-sm-6">
    <input matInput placeholder="Search stackoverflow tags" [formControl]="searchInputCtrl" />
    <mat-icon matSuffix>
      search
    </mat-icon>
  </mat-form-field>
</div>
<mat-drawer-container hasBackdrop="false" class="drawer-container">
  <mat-drawer class="left-sidenav" opened disableClose>
    <div
      class="result-item row middle-sm middle-xs middle-md middle-lg"
      *ngFor="let result of apiResult?.items"
    >
      <div (click)="onItemClicked(result)">
        {{ result.title }}
      </div>
    </div>
  </mat-drawer>
  <div class="content-container">
    <ng-container *ngIf="selectedResult">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
          View count: {{ selectedResult.view_count }}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
          Score: {{ selectedResult.score }}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
          Link:
          <a [attr.href]="selectedResult.link" target="blank">{{
            selectedResult.link
          }}</a>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="!selectedResult">
      Item not selected
    </ng-container>
  </div>
</mat-drawer-container>
